@use '@vizality' as *;

.vz-addons-list {
  $base: &;
  &[vz-display='cover'] {
    .vz-addon-card {
      min-width: 256px;
      &-icon {
        @include size(100%, 0);
        display: flex;
        margin: 0 0 20px 0;
        padding-bottom: 100%;
      }
    }
  }
}
