@use '@vizality' as vz;

.vz-addons-list {
  $base: &;
  &[vz-display='cover'] {
    .vz-addon-card {
      min-width: 256px;
      &-icon {
        @include vz.size(100%, 0);
        display: flex;
        margin: 0 0 -10px;
        padding-bottom: 100%;
        &-image-wrapper {
          @include vz.size(calc(100% - 20px));
          position: absolute;
          margin: 10px 10px 0;
        }
      }
    }
  }
}
