@use '@vizality/sass' as *;

.vz-addons-list {
  $base: &;
  &[vz-display='list'] {
    .vz-addon-card {
      flex: 1 100%;
      &-preview-wrapper {
        max-width: 420px;
        border: none;
        border-right: 1px solid var('background-tertiary');
      }
    }
    &[vz-previews] {
      .vz-addon-card {
        &-header-wrapper {
          flex-flow: row;
          flex: 1;
        }
        &-content-wrapper {
          flex-direction: column;
        }
        &-preview-img {
          border-radius: 5px 0 0 5px;
        }
        &-preview {
          height: 100%;
          padding: 0;
        }
      }
    }
  }
}
