@use '@vizality' as vz;

.vz-addons-list {
  $base: &;
  &[vz-display='list'] {
    #{$base}-items {
      margin: 25px -10px 0;
    }
    .vz-addon-card {
      flex: 1 100%;
      margin: 5px 10px;
      &-previews-wrapper {
        width: 100%;
        max-width: 410px;
      }
    }
    &:not([vz-previews]) {
      .vz-addon-card {
        &-icon {
          @include vz.size(170px);
          margin: 10px 0 10px 10px;
        }
      }
    }
    &[vz-previews] {
      .vz-addon-card {
        &-header-wrapper {
          flex-flow: row;
          flex: 1;
        }
        // .carousel-22Gq5X {
        //   height: 100%;
        // }
        &-previews-empty,
        .outer-s4sY2_ {
          height: 100%;
        }
        .smallCarousel-2e0IQc,
        .smallCarouselItem-1rfKEJ {
          height: 100%;
          border-radius: 8px 0 0 8px;
        }
        .smallCarousel-2e0IQc {
          border-right: 1px solid var(--background-tertiary);
        }
        &-content-wrapper {
          flex-direction: column;
        }
      }
    }
  }
}
