.monaco-menu {
  font-family: var(--vz-editor-context-menu-font-family);
}

.monaco-menu * {
  box-sizing: border-box;
}

.monaco-scrollable-element {
  box-shadow: var(--vz-editor-context-menu-box-shadow) !important;
  padding: 6px 8px;
  min-width: 188px;
  max-width: 320px;
  max-height: calc(100vh - 32px);
  background: var(--vz-editor-context-menu-background) !important;
  border-radius: var(--vz-editor-context-menu-border-radius) !important;
}

.monaco-menu .monaco-action-bar.vertical {
  padding: 0 !important;
}

.monaco-menu .monaco-action-bar.vertical .menu-item-check {
  display: none !important;
}

.monaco-menu .monaco-action-bar {
  color: var(--vz-editor-context-menu-color) !important;
  background: none !important;
  box-shadow: none !important;
}

.monaco-menu .monaco-action-bar.vertical .action-item {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
  align-items: center;
  border: none !important;
}

.monaco-menu .monaco-action-bar.vertical .action-label:not(.separator) {
  padding: 0 !important;
}

.monaco-menu .monaco-action-bar.vertical .keybinding {
  padding-right:  0 !important;
}

.monaco-menu .monaco-action-bar.vertical .submenu-indicator {
  padding: 0 1em !important;
}

.monaco-menu .monaco-action-bar.vertical .keybinding {
  opacity: .7;
}

.monaco-menu .monaco-action-bar.vertical .action-item .monaco-submenu {
  padding: 0 12px;
}

.monaco-menu .monaco-action-bar.vertical .action-menu-item {
  height: auto !important;
  padding: var(--vz-editor-context-menu-item-padding) !important;
  color: var(--vz-editor-context-menu-item-color) !important;
  margin: 2px 0;
  min-height: 32px;
  border-radius: var(--vz-editor-context-menu-item-border-radius);
}

.monaco-menu .monaco-action-bar.vertical .action-menu-item[style*='background-color: rgb(9, 71, 113);'] {
  background-color: var(--vz-editor-item-focus-background) !important;
  color: var(--vz-editor-context-menu-item-focus-color) !important;
}

.monaco-menu .monaco-action-bar.vertical .action-menu-item[style*='background-color: rgb(9, 71, 113);']:active {
  background-color: var(--vz-editor-item-focus-background-active) !important;
}

.monaco-menu .monaco-action-bar.vertical .action-menu-item[style*='background-color: rgb(9, 71, 113);'] .keybinding {
  opacity: 1;
}


.monaco-menu .monaco-action-bar.vertical .action-label.separator {
  border-bottom-width: var(--vz-editor-context-menu-separator-height) !important;
  border-bottom-style: var(--vz-editor-context-menu-separator-style) !important;
  border-bottom-color: var(--vz-editor-context-menu-separator-color) !important;
  opacity: 1 !important;
  margin: 2px 4px !important;
  padding: 0;
}
