/.cache
/.logs
node_modules
package-lock.json

# src/Vizality/plugins/*
!src/Vizality/plugins/vz-*
src/Vizality/plugins/vz-react-dev-tools/rdt.crx
src/Vizality/plugins/vz-react-dev-tools/react-dev-tools/*

src/Vizality/themes/*
# !src/Vizality/themes/twitchcord
!src/Vizality/themes/.exists

settings/*.json

*injected.txt
*.nogit.*