.idea
/.cache
/.logs
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

src/Vizality/plugins/*
!src/Vizality/plugins/vz-*

src/Vizality/plugins/vz-react-dev-tools/rdt.crx
src/Vizality/plugins/vz-react-dev-tools/react-dev-tools/*

# temporary
src/Vizality/plugins/vz-translate
src/Vizality/vizality_modules/google-translate-api

src/Vizality/themes/*
# !src/Vizality/themes/twitchcord
!src/Vizality/themes/.exists

settings/*.json

config.json
*injected.txt
*.nogit.*
