@use '@vizality' as *;

// Card (default) view

.vz-addon-card {
  $base: &;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  min-width: 400px;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.125s ease, background-color 0.125s ease, transform 0.125s ease;
  flex: 1;
  background: var(--background-secondary);
  border: 1px solid var(--background-secondary-alt);
  border-radius: 8px;
  // Hack to fix trailing items in the flexbox not sizing correctly
  // with the rest of the items
  &.vz-addon-card-filler {
    border: none !important;
    height: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }
  &:hover {
    background-color: var(--background-tertiary);
    box-shadow: var(--elevation-high);
  }
  &-header-wrapper {
    display: flex;
    flex: 1;
  }
  &-content-wrapper {
    @include size(100%);
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
  }
  &-content {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    overflow: hidden;
  }
  &-metadata {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    margin-right: 20px;
    justify-content: center;
  }
  &-header {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  &-icon {
    @include size(50px);
    overflow: hidden;
    margin-right: 12px;
    flex: 0 0 auto;
    position: relative;
    &-image-wrapper {
      @include size(100%);
    }
    &-img {
      @include size(100%);
    }
  }
  &-name-version {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
  }
  &-name {
    @include ellipsis(100%, inline-block);
    font-size: 18px;
    margin-right: 7px;
    font-weight: 500;
    line-height: 1;
    color: var(--header-primary);
    > div {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &-author-wrapper {
    display: flex;
  }
  &-author {
    @include ellipsis(100%);
    width: fit-content;
    font-size: 14px;
    margin-top: 2px;
    color: var(--interactive-normal);
    line-height: 1.5;
    text-decoration: none !important;
    pointer-events: none;
    &:hover {
      color: var(--header-primary);
      text-decoration: underline !important;
    }
    & + & {
      &::before {
        content: ', ';
        color: var(--interactive-normal);
      }
    }
    &[vz-user-id] {
      pointer-events: all;
    }
  }
  &-version {
    font-size: 14px;
    color: var(--interactive-normal);
    margin-bottom: 1px;
    margin-right: 7px;
  }
  &-toggle-wrapper {
    display: flex;
    flex: 0 0 auto;
  }
  &-show-previews-button {
    display: flex;
    &-icon * {
      pointer-events: none;
    }
  }
  &-description {
    @include max-lines(2);
    width: 100%;
    line-height: 1.4;
    flex: 1;
    box-sizing: border-box;
  }
  // &-tags {
  //   display: flex;
  //   height: 100%;
  // }
  // &-tag {
  //   border-radius: 1000px;
  //   background: var('background-primary');
  //   padding: 0 10px;
  //   font-size: 10px;
  //   text-transform: uppercase;
  //   font-weight: 500;
  //   min-width: 30px;
  //   text-align: center;
  //   height: 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   position: relative;
  //   & + #{$base}-tag {
  //     margin-left: 10px
  //   }
  // }
  &-footer-wrapper {
    margin-top: 20px;
    border-top: 1px solid var('background-modifier-accent');
  }
  &-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex: 0;
    width: 100%;
    &-rating-wrapper,
    &-downloads-wrapper,
    &-last-updated-wrapper {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 500;
      > div {
        display: flex;
        align-items: center;
      }
      .vz-icon-wrapper {
        margin-right: 3px;
      }
    }
    &-rating-wrapper,
    &-downloads-wrapper {
      margin-right: 15px;
    }
    &-section-left,
    &-section-right {
      display: flex;
      align-items: center;
      > div {
        > div {
          display: flex;
        }
      }
    }
    &-section-right {
      > div {
        margin-left: 12px;
      }
    }
    &-section-left {
      > div {
        margin-right: 20px;
      }
    }
  }
}

.vz-addons-list {
  $base: &;
  &[vz-previews] {
    .vz-addon-card {
      padding: 0;
      &-header-wrapper {
        flex-flow: column;
        flex: auto;
      }
      &-content-wrapper {
        padding: 20px;
      }
      &-preview {
        padding-top: 50%;
        height: 0;
      }
    }
  }
}
