@use '../../../../../libraries/sass' as *;

// @todo Fix him at varying resolutions and rename class
.vz-home-cta {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  overflow: hidden;
  &-icon-wrapper {
    @include size(400px, auto);
    position: absolute;
    right: 100px;
    bottom: -20px;
    color: #fff;
    @at-root {
      @media (max-width: 1750px) {
        & {
          display: none;
        }
      }
    }
  }
  &-overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // Fix a bug with a line showing through behind the wave divider when hovering
    // over the feature cards that utilize transforms.
    height: calc(100% - 1px);
    background: url(https://i.imgur.com/fIIzj3q.png);
    background-attachment: fixed;
    background-position: center;
    background-size: 150%;
    animation: backgroundPositionMoveDiagonal 100s ease infinite;
  }
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    overflow: hidden;
    background-size: 400% 400%;
    animation: backgroundPositionMoveDiagonal 15s ease infinite;
    opacity: .9;
  }
  &-content {
    max-width: 800px;
    // About the height of the wave divider
    margin: -100px 0 0 5%;
    z-index: 1;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeShortSlideInFromTop .5s forwards;
    &-icon-wrapper {
      width: 200px;
      flex: 1 0 auto;
      margin-right: 40px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.1);
      padding-top: 200px;
      height: 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    &-icon {
      margin-left: 5px;
      height: 70%;
      width: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      stroke-width: 5px;
      color: #fff;
      stroke: #fff;
      path {
        stroke-dasharray: 150;
        animation: strokeSVG 1s ease-in forwards, fillSVG .5s .5s ease-in forwards;
        stroke-width: 10;
      }
    }
    &-header {
      font-size: 54px;
      font-weight: 700;
      color: #fff;
    }
    &-subtext {
      font-size: 20px;
      line-height: 1.2;
      margin-top: 10px;
      color: #fff;
      opacity: .9;
    }
    &-buttons-wrapper {
      display: flex;
      margin-top: 30px;
    }
    &-button {
      height: 40px;
      background: #fff!important;
      transition: transform .3s, box-shadow .3s;
      border-radius: 1000px;
      // contents
      > div {
        padding: 0 15px;
        font-size: 18px;
      }
      &:hover {
        box-shadow: 0 0 50px rgba(255, 255, 255, .3);
        transform: translateY(-2px);
      }
      &:active {
        transform: translateY(0);
      }
    }
  }
}
