@use '@vizality' as vz;

.monaco-editor .monaco-editor-overlaymessage.fadeIn {
  animation: editor-tooltip .1s ease forwards;
}

.monaco-editor .monaco-editor-overlaymessage .message {
  background-color: var(--vz-editor-context-menu-item-focus-background) !important;
  box-shadow: var(--elevation-low);
  color: vz.color('white') !important;
  padding: 10px;
  border: none !important;
  font-family: Whitney !important;
  border-radius: 4px;
  margin-left: -10px;
  font-size: 14px;
}

.monaco-editor .monaco-editor-overlaymessage .anchor {
  border-top-color: var(--vz-editor-item-focus-background) !important; 
}
