@use '@vizality/sass' as *;

$color: #fff !default;

@use 'discord' as discord with ($fill: $color);
@use 'spotify' as spotify with ($fill: $color);
@use 'twitter' as twitter with ($fill: $color);
@use 'xbox' as xbox with ($fill: $color);

$module: (
  vz-logo: (
    'discord': svg-uri(discord.$logo),
    'spotify': svg-uri(spotify.$logo),
    'twitter': svg-uri(twitter.$logo),
    'xbox': svg-uri(xbox.$logo)
  )
);

:root { @include generate-css-vars($module); }
