@use '@vizality/sass' as *;

.vizality-sdk {
  @include size(100%);
  background-color: var('background-primary');
  &-header {
    box-shadow: var('elevation-low');
    .children-19S4PO {
      div:first-child {
        margin-left: 8px;
      }

      div:last-child {
        margin-left: auto;
      }
    }
  }
  &-container {
    padding: 20px !important;
  }
  .category {
    &:not(:first-child) {
      margin-top: 46px;
    }
    h2 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: thin solid var('background-modifier-accent');
    }
    p {
      margin-bottom: 24px;
    }
    .description-3_Ncsb {
      white-space: pre-line;
      strong strong {
        color: #f04747;
      }
    }
  }
  .splash-buttons button {
    margin-bottom: 8px;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
