@use '@vizality' as *;

.vz-toast {
  box-shadow: var(--elevation-high);
  background: var(--background-floating);
  border-radius: 4px;
  color: var(--text-normal);
  display: flex;
  position: absolute;
  animation: slideInFromBottom 0.5s ease both;
  max-width: 540px;
  min-width: 340px;
  z-index: 999;
  align-items: flex-start;
  padding: 16px;
  overflow: hidden;
  .vz-markdown-p {
    margin: 0;
  }
  &.vz-isTopRight {
    top: 25px;
    right: 25px;
  }
  &.vz-isTopLeft {
    top: 25px;
    left: 25px;
  }
  &.vz-isBottomRight {
    bottom: 25px;
    right: 25px;
  }
  &.vz-isBottomLeft {
    bottom: 25px;
    left: 25px;
  }
  &.vz-isClosing {
    animation: fadeOut 0.2s ease both;
  }
  &-container {
    &,
    * {
      box-sizing: border-box;
    }
  }
  &-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--header-primary);
    display: flex;
    align-items: center;
    &-text {
      @include max-lines(2);
    }
  }
  &-close-wrapper {
    color: var(--text-muted);
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    &:hover {
      color: var(--header-primary);
    }
  }
  &-header-content {
    padding-right: 26px;
  }
  &-header-title {
    @include max-lines(2);
  }
  &-header-message {
    font-size: 14px;
    line-height: 1.5;
    color: var(--header-secondary);
    font-weight: 400;
  }
  &-buttons {
    display: flex;
    padding: 0 0 0 20px;
    > button {
      flex: 0 1 auto;
      white-space: nowrap;
      &.lookGhost-2Fn_0- {
        transition: transform .17s ease, background-color .17s ease, color .17s ease, opacity .17s ease;
        opacity: .8;
        &:hover {
          opacity: 1;
        }
      }
      + button {
        margin-left: 10px;
      }
    }
  }
  &-inner {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &-header-extra {
    margin: 0 12px 0 0;
    align-self: flex-start;
    display: flex;
  }
  &-footer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  // @todo: Don't use obfuscated class.
  .progress-2XXRYo {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0;
    height: 2px;
  }
  // @todo: Don't use obfuscated class.
  .progressBar-3u8FBM {
    border-radius: 0;
  }
}
