@function find-class-paths($class, $classes: $classes, $current: ()) {
  $result: ();
  @each $key, $value in $classes {
    @if ($value == $class) {
      $result: append($result, append($current, $key));
    }
    @else if (type-of($value) == map) {
      $result: join($result, find-class-paths($class, $value, append($current, $key)), $separator: comma);
    }
  }
  
  @return $result;
}