@use 'pages';
@use 'parts';

.vz-dashboard {
  color: var(--text-normal);
  overflow: hidden;
}

.vz-dashboard-sidebar {
  /*
   * Fix for links flickering in markdown when expanding/collapsing
   * sidebar items.
   */
  transform: translateZ(0);
}

.vz-dashboard-sidebar-subitem-inner {
  padding: 12px 48px;
}

.vz-dashboard-sidebar-subitem {
  letter-spacing: .3px;
}

.vz-dashboard-sidebar-item {
  transition: margin .3s ease;
  &.disabled {
    .vz-dashboard-sidebar-item-icon-wrapper,
    .vz-dashboard-sidebar-item-icon-wrapper + div {
      opacity: .5!important;
      cursor: not-allowed;
    }
    .vz-dashboard-sidebar-auxillary-icon-wrapper {
      opacity: .5;
    }
    &:hover {
      color: var(--header-secondary);
      .vz-dashboard-sidebar-item-inner {
        background: none;
      }
    }
  }
}

.expanded > .vz-dashboard-sidebar-item-inner .vz-dashboard-sidebar-collapser {
  transform: rotate3d(0, 0, 1, 90deg);
}

.vz-dashboard-sidebar-subitems {
  max-height: 0;
  transition: max-height .3s ease;
  overflow: hidden;
}

.expanded + .vz-dashboard-sidebar-subitems {
  max-height: 1000px;
  transition: max-height .5s ease;
}

.expanded + .vz-dashboard-sidebar-subitems + div {
  margin-top: 10px;
}

@keyframes slide-left-to-right-short {
  0% {
    transform: translate3d(-40px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.vz-dashboard-scroller {
  padding: 0!important;
}

.vz-dashboard-layout {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  padding: 40px;
  > div {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
}

.vz-dashboard-sidebar-header {
  margin-bottom: 10px;
  padding: 20px 20px 0;
}

.vz-dashboard-side-item-icon-wrapper {
  margin-right: 8px;
}

.vz-dashboard-sidebar-separator {
  height: 1px;
  width: calc(100% - 32px);
  margin: 10px 0 10px 16px;
  background: var(--background-modifier-accent);
}

.vz-dashboard-sidebar-warning {
  cursor: default;
}

.vz-dashboard-sidebar-collapser {
  transition: transform .2s;
}

.vz-dashboard-sidebar-auxillary-icon-wrapper {
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.vz-dashboard-sidebar-warning {
    cursor: default;
  }
}

.vz-dashboard-sidebar-auxillary-icon-wrapper:hover {
  background-color: var(--background-modifier-hover);
}

.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
  color: #fff;
}
