.vz-error-boundary {
  $base: &;
  font-size: 16px;
  &-text {
    margin: 30px 0 15px;
  }
  &-block {
    font-size: 18px;
    line-height: 1.4;
    background: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
    border-radius: 4px;
    padding: 20px;
    white-space: pre-line;
    max-height: 20vh;
    overflow: auto;
  }
  &-error-stack::first-line {
    font-weight: 600;
    color: var(--header-primary);
  }
  &-scene {
    position: fixed;
    bottom: 0;
    left: 312px;
    max-height: 40vh;
    .panningAnimation-38NjY9 {
      bottom: 0;
    }
  }
}

@media screen and (max-height: 700px) {
  .vz-error-boundary-scene {
    display: none;
  }
}
