@use '@vizality/sass' as *;

.vz-sticky {
  display: flex;
  padding: 15px 10px;
  justify-content: space-between;
  &-wrapper {
    position: sticky;
    top: -1px;
    border-radius: 4px;
    background: var('background-secondary');
    transition: width .3s ease, background-color .3s ease, border-radius .3s ease, margin .3s ease;
    z-index: 1;
    width: 100%;
    &[vz-stuck] {
      border-radius: 0;
      background: var('background-primary');
      &::before {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        box-shadow: var('elevation-low');
        z-index: 1;
        pointer-events: none;
      }
    }
  }
}
