@use '@vizality/sass' as *;

.vz-addon-card {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 50%;
  flex: 1;
  min-width: 400px;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  &:hover {
    transform: translateY(-1px) !important;
    background-color: var('background-tertiary');
    box-shadow: var('elevation-high');
  }
  &-inner {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    overflow: hidden;
  }
  &-metadata {
    overflow: hidden;
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    margin-right: 20px;
    justify-content: center;
  }
  &-header {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  &-icon {
    @include size(50px);
    border-radius: 4px;
    overflow: hidden;
    margin-right: 12px;
    flex: 0 0 auto;
    &-img {
      @include size(100%);
    }
  }
  &-name-author {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
  }
  &-name {
    @include ellipsis(100%, inline-block);
    font-size: 18px;
    margin-right: 7px;
  }
  &-authors {
    display: flex;
  }
  &-author {
    @include ellipsis(100%);
    width: fit-content;
    font-size: 14px;
    margin-top: 2px;
    color: var('interactive-normal');
    line-height: 1.5;
    & + & {
      &::before {
        content: ', ';
        color: var('interactive-normal');
      }
    }
    &[vz-author-id] {
      &:hover {
        color: var('header-primary');
      }
    }
  }
  &-version {
    font-size: 14px;
    color: var('interactive-normal');
    margin-bottom: 1px;
  }
  &-toggle-wrapper {
    display: flex;
    flex: 0 0 auto;
    margin-top: 4px;
  }
  &-description {
    @include max-lines(3);
    flex: 1;
    width: 100%;
    line-height: 1.4;
  }
  &-footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    flex: 0;
    width: 100%;
  }
  // Hack to fix trailing items in the flexbox not sizing correctly
  // with the rest of the items
  &:empty {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-color: transparent;
    background-color: transparent;
  }
}
