@use '@vizality' as *;

[vz-previews] {
  .vz-addon-card {
    &-previews-wrapper {
      margin: 16px 16px 0;
      // max-width: 100%; */
      // backface-visibility: hidden; */
      // position: relative; */
      // height: auto;
      * {
        box-sizing: border-box;
      }
    }
    &-previews-inner {
      height: 100%;
      &[vz-count='1'] {
        .pagination-20ouY7 {
          display: none;
        }
      }
    }
    &-previews-empty {
      background: var(--background-secondary-alt);
      border: 1px solid var(--background-tertiary);
      padding-top: 42.55%;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      &::after {
        content: '';
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        z-index: 1;
        opacity: 1;
        transform: rotate(30deg);
        @at-root [vz-plugins][vz-previews] .vz-addon-card .vz-addon-card-previews-empty {
          &::after {
            @include mask(icon('plugin'), var(--background-tertiary), 10%, space);
          }
        }
        @at-root [vz-themes][vz-previews] .vz-addon-card .vz-addon-card-previews-empty {
          &::after {
            @include mask(icon('theme'), var(--background-tertiary), 10%, repeat center);
          }
        }
      }
      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
      }
      &-text {
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 1000px;
        background: var(--background-modifier-active);
        padding: 10px 20px;
        font-size: 14px;
      }
    }
    .outer-s4sY2_ {
      overflow: hidden;
      padding-top: 42.55% !important; // Cinemascope aspect ratio
    }
    .smallCarousel-2e0IQc {
      background: var(--background-secondary-alt);
      border: 1px solid var(--background-tertiary);
      &,
      .smallCarouselItem-1rfKEJ {
        border-radius: 8px;
      }
    }
    .arrowHitboxPadding-2stwpJ {
      padding: 5px;
      background: var(--background-tertiary);
      margin: 5px;
      opacity: 0.7;
      border-radius: 50%;
      transition: opacity .2s, box-shadow .2s;
      svg {
        * {
          pointer-events: none;
        }
      }
      &:hover {
        opacity: 1;
        box-shadow: var(--elevation-high);
      }
    }
    .smallCarouselImage-2Qvg9S {
      object-fit: cover;
    }
    .pagination-20ouY7 {
      @include size(100%);
      position: absolute;
      top: 0;
    }
    .dots-3VxbPX {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      padding-bottom: 20px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    &-preview {
      height: 100%;
      position: relative;
      overflow: hidden;
      &-img {
        @include size(100%);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px 5px 0 0;
        object-fit: cover;
        object-position: center;
      }
    }
    &-preview-previous,
    &-preview-next {
      position: absolute;
      display: flex;
      align-items: center;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: -10px;
      opacity: 0;
      transform: translate3d(0, -10px, 0);
      transition: transform .2s ease, opacity .2s ease;
      &-icon-wrapper {
        background: var(--background-floating);
        box-shadow: var(--elevation-high);
        border-radius: 50%;
        padding: 15px;
        opacity: .8;
        transition: opacity .2s ease-in-out;
        &:hover {
          color: var(--header-primary);
          opacity: 1;
        }
      }
    }
    &-preview-next {
      left: unset;
      right: -10px;
    }
  }
}
