@use '@vizality/sass' as *;

.monaco-editor .accessibilityHelpWidget {
  overflow: auto;
  padding: 20px;
  background: var('background-primary') !important;
  box-shadow: var('elevation-high') !important;
  color: var('text-normal');
  font-family: Whitney;
  font-size: 16px;
  border-radius: 5px;
  top: 20px !important;
  height: auto !important;
  animation: fadeShortSlideInFromTop .3s ease forwards;
  > div {
    &::before {
      content: 'Accessibility Help';
      color: var('header-primary');
      font-weight: 600;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: .3px;
      display: block;
      margin-bottom: 16px;
    }
  }
}

