@use '@vizality' as *;

.vz-addons-list {
  $base: &;
  &[vz-display='list'] {
    .vz-addon-card {
      flex: 1 100%;
      &-previews-wrapper {
        width: 100%;
        max-width: 500px;
        margin: 16px;
      }
      &-content-wrapper {
        padding: 7px;
      }
    }
    &:not([vz-previews]) {
      .vz-addon-card {
        &-icon {
          @include size(180px);
          margin-right: 10px;
        }
      }
    }
    &[vz-previews] {
      .vz-addon-card {
        border: 1px solid var(--background-secondary-alt);
        &-header-wrapper {
          flex-flow: row;
          flex: 1;
        }
        // .carousel-22Gq5X {
        //   height: 100%;
        // }
        &-previews-empty,
        .outer-s4sY2_ {
          height: 100%;
        }
        .smallCarousel-2e0IQc,
        .smallCarouselItem-1rfKEJ {
          height: 100%;
        }
        &-content-wrapper {
          flex-direction: column;
          padding: 24px 16px 24px 0;
        }
      }
    }
  }
}
