.vz-error-boundary {
  $base: &;
  font-size: 16px;
  &__text {
    margin: 30px 0 15px;
  }
  &__block {
    font-size: 18px;
    line-height: 1.4;
    background: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
    border-radius: 4px;
    padding: 20px;
    white-space: pre-line;
    &--error-stack::first-line {
      font-weight: 600;
      color: var(--header-primary);
    }
  }
  &__scene {
    width: 100%;
  }
  &__flying-wumpus {
    width: 300px;
    height: auto;
    animation-timing-function: ease-in-out;
    animation: vz-error-boundary-wumpus-soaring 4s forwards infinite;
    &-wrapper {
      width: 300px;
      margin: 0 auto;
      z-index: 1;
      position: relative;
      margin-right: 300px;
      animation: vz-error-boundary-wumpus-scoping 2s alternate infinite;
      animation-timing-function: linear;
    }
  }
  &__clouds {
    position: absolute;
    overflow: hidden;
    transform: translate3d(0, -130px, 0);
    height: 420px;
    width: 110%;
  }
  &__cloud {
    position: absolute;
    top: 20%;
    width: 300px;
    right: 0;
    opacity: 1;
    animation-name: vz-error-boundary-cloud-movement;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    &--front {
      z-index: 9;
    }
    &--distant {
      z-index: 1;
    }
    &--smaller {
      margin-right: 400px;
      width: 100px;
      margin-top: 50px;
    }
    &--small {
      margin-right: 200px;
      width: 150px;
    }
    &--big {
      width: 500px;
      margin-top: 50px;
      margin-right: 150px;
    }
    &--massive {
      width: 600px;
      margin-top: 20px;
      margin-right: 0px;
    }
    &--slow {
      animation-duration: 9.2s;
    }
    &--slower {
      animation-duration: 11.2s;
    }
    &--slowest {
      animation-duration: 13.5s;
    }
    &--super-slow {
      animation-duration: 20.5s;
    }
  }
}

@keyframes vz-error-boundary-wumpus-scoping {
  0% {
    transform: translate3d(0, 100px, 0);
  }
  50% {
    transform: translate3d(0, 140px, 0);
  }
  100% {
    transform: translate3d(20px, 80px, 0);
  }
}

@keyframes vz-error-boundary-wumpus-soaring {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes vz-error-boundary-cloud-movement {
  0% {
    opacity: 0.1;
    transform: translateX(300px);
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(-1000px);
  }
}