:root {
  --vz-color-black: 0 0% 0%;
  --vz-color-white: 0 0% 100%;
  --vz-color-blurple: 227, 58%, 65%;
  --vz-color-info: 212, 72%, 59%; // #4a90e2
  --vz-color-success: 153, 46%, 49%; // #43b581
  --vz-color-warning: 38, 96%, 54%; // #faa61a
  --vz-color-danger: 0, 85%, 61%; // #f04747
  --vz-color-theme: 263, 100%, 77%;
  --vz-color-plugin: 152, 71%, 55%;
}
