@use '../lib/sass' as *;

@use 'colors';
@use 'icons';
@use 'logos';
@use 'base';
@use 'components';


.vz-hasNoGuildIcon {
  background-image: url('https://i.imgur.com/Fa13xn9.png');
}

.vz-hasNoGameIcon {
  background-image: url('https://i.imgur.com/Fa13xn9.png');
}
.vz-hasNoGameIcon * {
  display: none;
}

.vz-hasNoUserAvatar {

}

.vz-hasNoGroupIcon {

}

.vz-hasNoSplashImage {

}

/*
 * This is needed to hide initial toasts from view until the
 * the styles can be loaded from the 'notices' builtin plugin.
 * @todo: Compile toast SCSS to CSS and remove this.
 */
.vizality-toast {
  display: none;
}
