.vz-hasNoGuildIcon {
  background-image: url('https://i.imgur.com/Fa13xn9.png');
}

.vz-hasNoGameIcon {
  background-image: url('https://i.imgur.com/Fa13xn9.png');
}
.vz-hasNoGameIcon * {
  display: none;
}

.vz-hasNoUserAvatar {

}

.vz-hasNoGroupIcon {

}

.vz-hasNoSplashImage {

}

/*
 * This is needed to hide initial toasts from view until the
 * the styles can be loaded from the 'vz-notices' plugin.
 */
.vizality-toast {
  display: none;
}

.vizality-header-main {
  font-size: 54px;
  line-height: 1.2;
}

.vizality-markdown-wrapper {
  line-height: 1.5;
}

.vizality-p {
  margin: 0 0 16px;
}

.vizality-list {
  list-style: disc;
  padding-left: 32px;
  margin-bottom: 16px;
}

.vizality-header-h1,
.vizality-header-h2,
.vizality-header-h3,
.vizality-header-h4,
.vizality-header-h5,
.vizality-header-h6 {
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.vizality-header-h2,
.vizality-header-h3,
.vizality-header-h4,
.vizality-header-h5,
.vizality-header-h6 {
  margin-top: 0;
}

.vizality-header-h1,
.vizality-header-h2 {
  margin-top: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--background-modifier-accent);
}

.vizality-header-anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
}

.vizality-header:hover .vizality-header-anchor-icon {
  visibility: visible;
}

.vizality-header-anchor-icon {
  color: var(--header-secondary);
  visibility: hidden;
  display: inline-block!important;
}