.vz-hasNoGuildIcon {
  background-image: url('https://i.imgur.com/Fa13xn9.png');
}

.vz-hasNoGameIcon {
  background-image: url('https://i.imgur.com/Fa13xn9.png');
}
.vz-hasNoGameIcon * {
  display: none;
}

.vz-hasNoUserAvatar {

}

.vz-hasNoGroupIcon {

}

.vz-hasNoSplashImage {

}