@use '@vizality' as *;

.vz-addon-context-menu {
  &-header {
    .groupLabel-2t5iuZ {
      margin-bottom: 10px;
      justify-content: flex-start;
    }
    &-addon-icon {
      &-image-wrapper {
        @include size(24px);
        margin-right: 10px;
      }
      &-img {
        @include size(100%);
      }
    }
    &-addon-name {
      text-transform: capitalize;
      color: var(--header-primary);
      font-weight: 500;
      font-size: 14px;
    }
  }
}
